---
sudo: required
dist: trusty

language: python
python: "2.7"

env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.8.6
  - ANSIBLE_VERSION=2.8.5
  - ANSIBLE_VERSION=2.8.4
  - ANSIBLE_VERSION=2.8.3
  - ANSIBLE_VERSION=2.8.2
  - ANSIBLE_VERSION=2.8.1
  - ANSIBLE_VERSION=2.8.0
  - ANSIBLE_VERSION=2.7.14
  - ANSIBLE_VERSION=2.7.13
  - ANSIBLE_VERSION=2.7.12
  - ANSIBLE_VERSION=2.7.11
  - ANSIBLE_VERSION=2.7.10
  - ANSIBLE_VERSION=2.7.9
  - ANSIBLE_VERSION=2.7.8
  - ANSIBLE_VERSION=2.7.7
  - ANSIBLE_VERSION=2.7.6
  - ANSIBLE_VERSION=2.7.5
  - ANSIBLE_VERSION=2.7.4
  - ANSIBLE_VERSION=2.7.3
  - ANSIBLE_VERSION=2.7.2
  - ANSIBLE_VERSION=2.7.1
  - ANSIBLE_VERSION=2.7.0
  - ANSIBLE_VERSION=2.6.20
  - ANSIBLE_VERSION=2.6.19
  - ANSIBLE_VERSION=2.6.18
  - ANSIBLE_VERSION=2.6.17
  - ANSIBLE_VERSION=2.6.16
  - ANSIBLE_VERSION=2.6.15
  - ANSIBLE_VERSION=2.6.14
  - ANSIBLE_VERSION=2.6.13
  - ANSIBLE_VERSION=2.6.12
  - ANSIBLE_VERSION=2.6.11
  - ANSIBLE_VERSION=2.6.10
  - ANSIBLE_VERSION=2.6.9
  - ANSIBLE_VERSION=2.6.8
  - ANSIBLE_VERSION=2.6.7
  - ANSIBLE_VERSION=2.6.6
  - ANSIBLE_VERSION=2.6.5
  - ANSIBLE_VERSION=2.6.4
  - ANSIBLE_VERSION=2.6.3
  - ANSIBLE_VERSION=2.6.2
  - ANSIBLE_VERSION=2.6.1
  - ANSIBLE_VERSION=2.6.0
  - ANSIBLE_VERSION=2.5.15
  - ANSIBLE_VERSION=2.5.14
  - ANSIBLE_VERSION=2.5.13
  - ANSIBLE_VERSION=2.5.12
  - ANSIBLE_VERSION=2.5.11
  - ANSIBLE_VERSION=2.5.10
  - ANSIBLE_VERSION=2.5.9
  - ANSIBLE_VERSION=2.5.8
  - ANSIBLE_VERSION=2.5.7
  - ANSIBLE_VERSION=2.5.6
  - ANSIBLE_VERSION=2.5.5
  - ANSIBLE_VERSION=2.5.4
  - ANSIBLE_VERSION=2.5.3
  - ANSIBLE_VERSION=2.5.2
  - ANSIBLE_VERSION=2.5.1
  - ANSIBLE_VERSION=2.5.0

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq

  # Remove dnsmasq
  - sudo apt-get remove --purge --yes dnsmasq

  # Install dnsutils (for nslookup)
  - sudo apt-get install --yes dnsutils

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml -vvvv

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Test (local) resolve
  - >
    nslookup mail.example.com
    | grep 'Address'
    | awk '{print $2}'
    | grep -q '192.168.0.8'
    && (echo 'Configuration test: pass' && exit 0)
    || (echo 'Configuration test: fail' && exit 1)

  - if [ "$ANSIBLE_VERSION" = "latest" ]; then ansible-lint tests/test.yml; fi

notifications:
  email: false
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    rooms:
      secure: "N84w2eJxsMFq9zQP79PX28vdc0AXyL6md3RGWbtmz0y0xe/UUBYj8goNDk92esvVFo1e1SUJRuXkCWtzKKlj1caEVJaN2TBhKxlIcRMUFqcoUtjXrPs7V9mI9BsA3MlDEYnFuPRiqP0pMPahsrtJuAjlNROulPFEJpDSbpAdVrYR/JxOYBM+2JAgu+NjoHsmUSd+dB//c3yUb+l/qisiKf0MGzvqk5Pqlq2sxPz3LspLFCP06jdUTUvy2hifMHG1Annc/wz0KOmO6yJDVAwMtpg1m4rEVnAY0jeUT6WhcW4uRrecX20Kl6Hetf0a6lQvBzXSU3CFKgJMIrjlpDFJS+aV2IFPCh8tNyP6U+JpIM/R0SWvHCzBL43PlxLD25F0ovRqH6JFnq6kzgz9hfb5R0Odo1k0NRKZjTMm/ItQm8qS4qI0lQUxKlfn/1MKqlOsxLMKqU1luACqna5dHM3PtuoVfLjtqc2l7+E5SVCCi9h5RTzXNgrXVP5eVd3qYutUdFurMeVQryd5jotwz9qHbJRc5rEbmrJA49qRJnhMfDYt1PeynugKlTg85ZFiq7adxD2ztIh52HVM8GxtPhsabB0aFbdYC6zsvDu9QWslRvc1u1l2PscnqbCHozAr5PYZUFDeZfdWH2NZyi7MP3Sd6wuX7USkTlEGy4N/7GCQx5k="
