# tasks file for dnsmasq
---
- name: install dependencies
  apt:
    name: "{{ dnsmasq_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - configuration
    - dnsmasq
    - dnsmasq-install
    - dnsmasq-install-dependencies

- name: update configuration file(s)
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
    validate: "{{ item.validate | default(omit) }}"
  with_items:
    - src: etc/default/dnsmasq.j2
      dest: /etc/default/dnsmasq
    - src: etc/dnsmasq.conf.j2
      dest: /etc/dnsmasq.conf
      validate: 'dnsmasq --test -C %s'
  notify: restart dnsmasq
  tags:
    - configuration
    - dnsmasq
    - dnsmasq-configuration

- name: add specific configuration files
  template:
    src: etc/dnsmasq.d/config.j2
    dest: "/etc/dnsmasq.d/{{ item.key }}"
    owner: root
    group: root
    mode: 0644
    validate: 'dnsmasq --test -C %s'
  with_dict: "{{ dnsmasq_dnsmasq_d_files_present }}"
  notify: restart dnsmasq
  tags:
    - configuration
    - dnsmasq
    - dnsmasq-configuration
    - dnsmasq-configuration-add-specific-configuration-files

- name: remove specific configuration files
  file:
    path: "/etc/dnsmasq.d/{{ item.key }}"
    state: absent
  with_dict: "{{ dnsmasq_dnsmasq_d_files_absent }}"
  notify: restart dnsmasq
  tags:
    - configuration
    - dnsmasq
    - dnsmasq-configuration
    - dnsmasq-configuration-remove-specific-configuration-files

- name: start and enable service
  service:
    name: dnsmasq
    state: "{{ dnsmasq_service_state }}"
    enabled: "{{ dnsmasq_service_enabled | bool }}"
  tags:
    - configuration
    - dnsmasq
    - dnsmasq-start-enable-service
